.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}

.pageContentContainer {
  width: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chartContainer {
  display: flex;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}
.chartContainer > div:first-child {
  width: 200px;
}
.chartContainer > div:last-child {
  flex-grow: 1;
}

.legendItem {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 10px;
}

.legendColor {
  width: 10px;
  height: 10px;
  border: 1px solid #ffffff;
}

.legendLabel {
  flex-grow: 1;
}
