.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: calc(100vh - 150px);
}

.pageContentContainer {
  width: 890px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.rightButtonContainer {
  margin-left: auto;
}

.userRow {
  margin-block: 1px 6px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.userRowInput {
  flex-basis: 22.5%;
}

.userRowItem {
  padding-bottom: 10px;
  position: relative;
}
.userRowErrorMessage {
  color: var(--error-color);
  position: absolute;
  font-size: 12px;
  bottom: -10px;
  left: 8px;
}

.errorState {
  color: var(--error-color);
  flex-grow: 1;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}
